#app {
  clear: both;
}
section {
  margin: 7px;
  -moz-transition: 350ms padding;
  -o-transition: 350ms padding;
  -webkit-transition: 350ms padding;
  transition: 350ms padding;
}
.results-container,
.uploads-container {
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#interactions {
  overflow: hidden;
}
#editor .result-info-name {
  right: 0;
}
#editor .result-info-name .text-input {
  width: 100%;
}
/* Small */
@media (min-width: 490px) and (max-width: 1050px) {
  section {
    padding: 7px;
  }
  #uploads .file-drop {
    height: 140px;
  }
  #uploads .input-file-drop {
    -ms-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  #uploads .input-file-drop:not(:last-of-type) {
    margin-right: 14px;
    margin-bottom: 0;
  }
}
/* Medium */
@media (min-width: 840px) {
  .header {
    margin-top: 0;
  }
  #results .result {
    display: inline-block;
    width: calc(50% - 7px);
    min-width: initial;
  }
}
@media (min-width: 840px) and (max-width: 1589px) {
  #results .result:nth-of-type(2n + 1) {
    margin-right: 14px;
  }
}
/* Large */
@media (min-width: 1050px) {
  #uploads {
    float: left;
    width: 280px;
  }
  #uploads .file-drop {
    height: 140px;
  }
}
/* Huge */
@media (min-width: 1589px) {
  #results .result {
    width: calc(33% - 7px);
  }
}
@media (min-width: 1589px) and (max-width: 2100px) {
  #results .result:not(:nth-of-type(3n)) {
    margin-right: 14px;
  }
}
/* Infinite */
@media (min-width: 2100px) {
  #results .result {
    margin-right: 14px;
    width: 490px;
  }
}
