.palette {
  color: #637791;
  transition: 350ms all;
  border: 1px solid transparent;
}
.palette svg {
  stroke: #637791;
  stroke-width: 1px;
}
.palette:hover {
  text-shadow: rgba(238, 245, 255, 0.28) 0 0 3px;
}
.palette:not(.no-border) {
  border: 1px solid #aab0ba;
}
.palette:not(.no-border):hover {
  background-color: rgba(238, 245, 255, 0.28);
  box-shadow: 0 0 3px rgba(238, 245, 255, 0.28) inset, 0 0 3px rgba(238, 245, 255, 0.28);
  border: 1px solid #637791;
}
.settings-input-containers {
  text-align: center;
}
.settings-input-container {
  display: inline-block;
  margin-right: 14px;
  padding: 0 14px 7px;
  font-size: 140%;
}
.settings-input-container label {
  position: relative;
  top: -7px;
}
.settings-input-container .number-input {
  margin-left: 7px;
}
.settings-input-container input[type=number] {
  font-size: .56em;
}
